<template>
  <div class="v-container py-5">
    <div class="font-bold text-h4 mb-5">Клиенты</div>

    <v-data-table
      :headers="headers"
      :items="items"
      item-key="name"
      class="elevation-1"
      :search="search"
    >
      <template v-slot:item.actions="{ item }">
        <v-icon small @click="deleteResource(item.id)"> mdi-delete </v-icon>
      </template>
      <template v-slot:top>
        <v-text-field
          v-model="search"
          label="Search"
          class="mx-4"
        ></v-text-field>
      </template>
    </v-data-table>

    <v-btn
      @click="$refs.clientCreateDialog.toggleDialog()"
      class="mx-2"
      fab
      dark
      fixed
      bottom
      right
      color="indigo"
    >
      <v-icon dark> mdi-plus </v-icon>
    </v-btn>

    <template>
      <v-row justify="center">
        <client-create-dialog @save="loadResource()" ref="clientCreateDialog" />
      </v-row>
    </template>
  </div>
</template>

<script>
import loadResourseMixin from "../../mixins/loadResourseMixin";
import ClientCreateDialog from "../../components/clients/ClientCreateDialog.vue";

export default {
  mixins: [loadResourseMixin],
  components: {
    ClientCreateDialog,
  },
  data() {
    return {
      search: "",
      calories: "",
      resource: "clients",
      items: [],
    };
  },

  computed: {
    headers() {
      return [
        {
          text: "ФИО",
          align: "start",
          value: "attributes.name",
        },
        {
          text: "Телефон",
          value: "attributes.phone",
        },
        { text: "Почта", value: "attributes.email" },
        { text: "", value: "actions" },
      ];
    },
  },
  created() {
    this.loadResource();
    this.$axios.get("drivers/10");
  },
};
</script>