<template>
  <div class="container">
    <v-row>
      <v-col md="6">
        <v-card class="pa-8" v-if="item">
          <v-card-title
            >Информация о поставке № - {{ $route.params.id }}</v-card-title
          >

          <v-card-text>
            <div>Название</div>
            <p class="text-h6 text--primary">
              {{ item.attributes.nomenclature }}
            </p>

            <div>Вес</div>
            <p class="text-h6 text--primary">{{ item.attributes.weight }}</p>

            <div>Адрес</div>
            <p class="text-h6 text--primary">{{ item.attributes.address }}</p>

            <div>Дата доставки</div>
            <p class="text-h6 text--primary">{{ item.attributes.due_date }}</p>

            <div>Комментарий</div>
            <p class="text-h6 text--primary">{{ item.attributes.comment }}</p>

            <div>Клиент</div>
            <p class="text-h6 text--primary">{{ item.attributes.client }}</p>

            <div>Водитель</div>
            <p class="text-h6 text--primary">{{ item.attributes.driver }}</p>
          </v-card-text>
        </v-card>
      </v-col>

      <v-col md="6">
        <v-card class="pa-8" v-if="item">
          <v-card-title
            >Предметы поставки № - {{ $route.params.id }}</v-card-title
          >
          <v-card-text v-if="item.items.length">
            <div v-for="(item, index) in item.items" :key="item.id">
              <!-- <div>Название</div>
              <p class="text-h6 text--primary">
                {{ item.attributes.name }}
              </p> -->

              <v-card class="mx-auto mb-2" style="position:relative" outlined>
                <v-btn
                  style="position: absolute; right: 0; z-index: 10"
                  text
                  color="primary"
                  dark
                  @click="deleteItem(item.id)"
                >
                  Удалить
                </v-btn>
                <v-list-item three-line>
                  <v-list-item-content>
                    <div class="text-overline">Товар - {{ index + 1 }}</div>

                    <v-list-item-subtitle> Название </v-list-item-subtitle>
                    <v-list-item-title class="text-h6 mb-1">
                      {{ item.attributes.name }}
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-card>
            </div>
          </v-card-text>

          <v-row class="mt-3" justify="end">
            <v-dialog v-model="dialog" persistent max-width="400px">
              <template v-slot:activator="{ on, attrs }">
                <v-btn color="primary" dark v-bind="attrs" v-on="on">
                  Добавить
                </v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="text-h5">Добавить</span>
                </v-card-title>
                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col cols="12">
                        <v-text-field
                          v-model="newItemName"
                          label="Название товара*"
                          required
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="dialog = false">
                    Закрыть
                  </v-btn>
                  <v-btn color="blue darken-1" text @click="saveItem()">
                    Сохранить
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  data() {
    return {
      item: "",
      dialog: false,
      newItemName: "",
    };
  },

  created() {
    this.loadResource();
  },
  methods: {
    loadResource() {
      this.$axios
        .get(`cargos/${this.$route.params.id}`)
        .then((response) => (this.item = response.data.data));
    },

    saveItem() {
      this.$axios
        .post("/items", {
          name: this.newItemName,
          cargo_id: this.$route.params.id,
        })
        .then((response) => this.loadResource());
    },
    deleteItem(id) {
        this.$axios.delete(`items/${id}`).then((response) => this.loadResource());
        console.log(id)
    }
  },
};
</script>

<style>
</style>