<template>
  <div class="v-container py-5">
      <v-row>
    <v-col cols="12" class="font-bold text-h4">Поставки</v-col>
    <v-col cols="12">
      <cargos-table/>

    </v-col>

      </v-row>
  </div>
</template>

<script>
import CargosTable from '../../components/cargos/CargosTable.vue'



export default {
    components: {
        CargosTable
    },
}
</script>

<style>

</style>