<template>
 <v-dialog v-model="dialog" persistent max-width="600px">
  <v-card>
    <v-card-title>
      <span class="text-h5">Создание доставки</span>
    </v-card-title>
    <v-card-text>
      <v-container>
        <v-row>
          <v-col cols="12" sm="6">
            <v-text-field label="Название" v-model="cargo.nomenclature" required></v-text-field>
          </v-col>
          <v-col cols="12" sm="6">
            <v-text-field v-model="cargo.weight" label="Вес" hint="Вес груза"></v-text-field>
          </v-col>
          <v-col cols="12" sm="6">
            <v-text-field
              v-model="cargo.due_date"
              label="Дата"
              hint="Дата доставки"
              persistent-hint
              required
            ></v-text-field>
          </v-col>
          <v-col cols="12" sm="6">
            <v-text-field
              v-model="cargo.comment"
              label="Комментарий"
              hint="Комментарий к заказу"
              persistent-hint
              required
            ></v-text-field>
          </v-col>
          <v-col cols="12">
            <v-text-field
              v-model="cargo.address"
              label="Адрес"
              hint="Адрес"
              persistent-hint
              required
            ></v-text-field>
          </v-col>
          <v-col cols="12">
            <v-autocomplete
              v-model="cargo.client_id"
              :items=clients
              item-text="attributes.name"
              item-value="id"
              label="Клиент"
            ></v-autocomplete>
          </v-col>
          <v-col cols="12">
            <v-autocomplete
              v-model="cargo.driver_id"
              :items=drivers
              item-text="attributes.name"
              item-value="id"
              label="Водитель"
            ></v-autocomplete>
          </v-col>
        </v-row>
      </v-container>
      <small>*indicates required field</small>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="blue darken-1" text @click="dialog = false"> Отмена </v-btn>
      <v-btn color="blue darken-1" text @click="createCargo">
        Сохранить
      </v-btn>
    </v-card-actions>
  </v-card>
  </v-dialog>
</template>

<script>
export default {
  data() {
    return {
        dialog: false,
        clients: [

        ],
        drivers: [],
        cargo: {
            nomenclature: '',
            weight: '',
            address: '',
            due_date: '',
            comment: '',
            driver_id: '',
            client_id: ''
        }
    };
  },
  created() {
    this.$axios.get('clients').then(response => this.clients = response.data.data)
    this.$axios.get('drivers').then(response => this.drivers = response.data.data)
  },
  methods: {
      toggleDialog() {
          this.dialog = !this.dialog
      },
      createCargo() {
        this.$axios.post('cargos', this.cargo).then(res => {
          this.dialog = false
          this.$emit('save')

        })          

      }
  }
};
</script>

<style>
</style>