<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="items"
      :items-per-page="5"
      class="elevation-1"
       :search="search"
    >
      <template v-slot:top>
        <v-text-field
          v-model="search"
          label="Поиск"
          class="mx-4"
        ></v-text-field>
      </template>
      <template v-slot:item.attributes.nomenclature="{ item }">
        <nuxt-link :to="{ name: 'cargos-id', params: { id: item.id }}">
          {{ item.attributes.nomenclature }}
        </nuxt-link>
      </template>
      <template v-slot:item.actions="{ item }">
        <!-- <v-icon small class="mr-2" @click="updateCargo(item.id)">
          mdi-pencil
        </v-icon> -->
        <v-icon small @click="deleteResource(item.id)"> mdi-delete </v-icon>
      </template>
    </v-data-table>

    <v-btn
      @click="$refs.cargoCreateDialog.toggleDialog()"
      class="mx-2"
      fab
      dark
      fixed
      bottom
      right
      color="indigo"
    >
      <v-icon dark> mdi-plus </v-icon>
    </v-btn>

    <template>
      <v-row justify="center">
       
          <cargo-cretate-dialog @save="loadResource()" ref="cargoCreateDialog" />
      </v-row>
    </template>
  </div>
</template>

<script>
import loadResourceMixin from "../../mixins/loadResourseMixin";
import CargoCretateDialog from "./CargoCretateDialog.vue";

export default {
  components: { CargoCretateDialog },
  data() {
    return {
      resource: "cargos",
      items: [],
      search: null,
      headers: [
        {
          text: "Описание",
          align: "start",
          sortable: false,
          value: "attributes.nomenclature",
        },
        { text: "Вес (кг)", value: "attributes.weight" },
        { text: "Адрес", value: "attributes.address" },
        { text: "Срок доставки", value: "attributes.due_date" },
        { text: "Комментарий", value: "attributes.comment" },
        { text: "", value: "actions" },
      ],
    };
  },
  mixins: [loadResourceMixin],

  mounted() {
    this.loadResource();
  },
  methods: {
    updateCargo(id) {
      this.$axios.put(`cargos/${id}`, {
        address: "Опа",
      }).then(response => this.loadResource());
    },
  },
};
</script>

<style>
</style>