<template>
  <div class="v-container py-5">
    <div class="font-bold text-h4 mb-5">Автомобили</div>

    <v-data-table
      :headers="headers"
      :items="items"
      item-key="name"
      class="elevation-1"
      :search="search"
    >
      <template v-slot:item.actions="{ item }">
        <v-icon small @click="deleteResource(item.id)"> mdi-delete </v-icon>
      </template>
      <template v-slot:top>
        <v-text-field
          v-model="search"
          label="Поиск"
          class="mx-4"
        ></v-text-field>
      </template>
    </v-data-table>

    <v-btn
      @click="$refs.carCreateDialog.toggleDialog()"
      class="mx-2"
      fab
      dark
      fixed
      bottom
      right
      color="indigo"
    >
      <v-icon dark> mdi-plus </v-icon>
    </v-btn>

    <template>
      <v-row justify="center">
        <car-create-dialog @save="loadResource()" ref="carCreateDialog" />
      </v-row>
    </template>
  </div>
</template>

<script>
import CarCreateDialog from "../../components/cars/CarsCreateDialog.vue";
import loadResourseMixin from "../../mixins/loadResourseMixin";

export default {
  components: { CarCreateDialog },
  mixins: [loadResourseMixin],
  data() {
    return {
      search: "",
      calories: "",
      resource: "cars",
      items: [],
    };
  },

  computed: {
    headers() {
      return [
        {
          text: "Модель",
          align: "start",
          value: "attributes.model",
        },
        {
          text: "Грузоподъемность",
          value: "attributes.weight",
        },
        { text: "Водитель", value: "attributes.driver" },
        { text: "", value: "actions" },
      ];
    },
  },
  created() {
    this.loadResource();
    this.$axios.get("drivers/10");
  },
};
</script>