<template>
  <div class="v-container py-5">
        <div class="font-bold text-h4 mb-5">Водители</div>

    <v-data-table
      :headers="headers"
      :items="items"
      item-key="name"
      class="elevation-1"
      :search="search"
    >
      <template v-slot:top>
        <v-text-field
          v-model="search"
          label="Search (UPPER CASE ONLY)"
          class="mx-4"
        ></v-text-field>
      </template>
    </v-data-table>

    <v-btn
      @click="$refs.driverCreateDialog.toggleDialog()"
      class="mx-2"
      fab
      dark
      fixed
      bottom
      right
      color="indigo"
    >
      <v-icon dark> mdi-plus </v-icon>
    </v-btn>

    <template>
      <v-row justify="center">
        <driver-create-dialog @save="loadResource()" ref="driverCreateDialog" />
      </v-row>
    </template>
  </div>
</template>

<script>
import loadResourseMixin from "../../mixins/loadResourseMixin";
import DriverCreateDialog from "../../components/drivers/DriverCreateDialog.vue";

export default {
  mixins: [loadResourseMixin],
  components: {
    DriverCreateDialog,
  },
  data() {
    return {
      search: "",
      calories: "",
      resource: "drivers",
      items: [],
    };
  },

  computed: {
    headers() {
      return [
        {
          text: "ФИО",
          align: "start",
          value: "attributes.name",
        },
        {
          text: "Телефон",
          value: "attributes.phone",
        },
        { text: "Категории", value: "attributes.categories" },
      ];
    },
  },
  created() {
    this.loadResource();
    this.$axios.get("drivers/10");
  },
};
</script>