<template>
  <v-row class="mt-12">
    <v-col cols="6" class="mx-auto">
      <v-card class="pa-6">
        Авторизация

        <v-card-text>
          <div>Email</div>
          <v-text-field v-model="email"/>

          <div class="mt-6">Пароль</div>
          <v-text-field v-model="password"/>
        </v-card-text>

        <v-card-actions>
          <v-btn @click="login">Вход</v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  data() {
    return {
      email: '',
      password: '',
    }
  },
  methods: {
    async login() {
    try {
      const response = await this.$auth.loginWith("local", {
        data: {
          email: this.email,
          password: this.password,
        },
      });
      this.$router.push({name: 'cargos'})
    } catch (err) {
      this.error = true;
      // eslint-disable-next-line
      setTimeout(() => (this.error = false), 3000);
      console.log(err);
    }
    console.log(this.$auth.user)
  },
  }
}
</script>
