<template>
 <v-dialog v-model="dialog" persistent max-width="600px">
  <v-card>
    <v-card-title>
      <span class="text-h5">Создание машины</span>
    </v-card-title>
    <v-card-text>
      <v-container>
        <v-row>
          <v-col cols="12" sm="6">
            <v-text-field label="Модель авто" v-model="car.model" required></v-text-field>
          </v-col>
          <v-col cols="12" sm="6">
            <v-text-field v-model="car.weight" label="Грузоподъемность"></v-text-field>
          </v-col>
      
          <v-col cols="12">
            <v-autocomplete
              v-model="car.driver_id"
              :items=drivers
              item-text="attributes.name"
              item-value="id"
              label="Водитель"
            ></v-autocomplete>
          </v-col>
        </v-row>
      </v-container>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="blue darken-1" text @click="dialog = false"> Отмена </v-btn>
      <v-btn color="blue darken-1" text @click="createCargo">
        Сохранить
      </v-btn>
    </v-card-actions>
  </v-card>
  </v-dialog>
</template>

<script>
export default {
  data() {
    return {
        dialog: false,
        categories: [
          'A',
          'B',
          'C',
          'D',
          'E',
          'f',
        ],
        drivers: [],
        car: {
            model: '',
            driver_id: '',
            weight: '',
        }
    };
  },
  created() {
    this.$axios.get('drivers').then(response => this.drivers = response.data.data)
  },
  methods: {
      toggleDialog() {
          this.dialog = !this.dialog
      },
      createCargo() {
        this.$axios.post('cars', this.car).then(res => {
          this.dialog = false
          this.$emit('save')

        })          

      }
  }
};
</script>

<style>
</style>