<template>
 <v-dialog v-model="dialog" persistent max-width="600px">
  <v-card>
    <v-card-title>
      <span class="text-h5">Создание клиента</span>
    </v-card-title>
    <v-card-text>
      <v-container>
        <v-row>
          <v-col cols="12" sm="4">
            <v-text-field label="Имя" v-model="client.first_name" required></v-text-field>
          </v-col>
          <v-col cols="12" sm="4">
            <v-text-field v-model="client.middle_name" label="Фамилия"></v-text-field>
          </v-col>
          <v-col cols="12" sm="4">
            <v-text-field
              v-model="client.last_name"
              label="Отчество"
              required
            ></v-text-field>
          </v-col>
          
         
          <v-col cols="12" sm="6">
            <v-text-field
              v-model="client.phone"
              label="Телефон"
              persistent-hint
              required
            ></v-text-field>
          </v-col>

          <v-col cols="12" sm="6">
            <v-text-field
              v-model="client.email"
              label="Почта"
              persistent-hint
              required
            ></v-text-field>
          </v-col>

        
        </v-row>
      </v-container>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="blue darken-1" text @click="dialog = false"> Отмена </v-btn>
      <v-btn color="blue darken-1" text @click="createCargo">
        Сохранить
      </v-btn>
    </v-card-actions>
  </v-card>
  </v-dialog>
</template>

<script>
export default {
  data() {
    return {
        dialog: false,
        categories: [
          'A',
          'B',
          'C',
          'D',
          'E',
          'f',
        ],
        client: {
            first_name: '',
            last_name: '',
            middle_name: '',
            email: '',
            phone: '',
        }
    };
  },
  // created() {
  //   this.$axios.get('clients').then(response => this.clients = response.data.data)
  //   this.$axios.get('drivers').then(response => this.drivers = response.data.data)
  // },
  methods: {
      toggleDialog() {
          this.dialog = !this.dialog
      },
      createCargo() {
        this.$axios.post('clients', this.client).then(res => {
          this.dialog = false
          this.$emit('save')

        })          

      }
  }
};
</script>

<style>
</style>